body{
    margin: 0;
    background-color: rgb(87, 136, 179);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0;
}
#convertor-container{
    width: 60%;
    height: 90vh;
    background-color: rgb(123, 125, 125);
    text-align: center;
    margin: 20px auto;
    border: 4px solid white;
    border-radius: 10px;
}

#input-container{
    background-color: blueviolet;
    height: 35%;
    border-radius: 10px;
    padding-top: 15px ;
}
#input-container h1{
    margin-bottom: 10px;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 30px;
    margin-bottom:20px ;
}
button{
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
}

.card{
    background-color: antiquewhite;
    margin: 10px 10px;
    border-radius: 3px;
}
.card h2{
    margin-top: 18px;
    padding-top: 20px;
}
.card h4{
    margin-bottom: 18px;
    padding-bottom: 20px;
}